*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content-left{
    display: flex;
    align-items: center;
    height: 100%;
}
ul{
 list-style-type: none;
}
.icons{
    font-size: 20px;
    display: flex;
    margin-left: 50px;
    align-items: center;
    position: relative;
    margin-top: 5px;
    

}
.icon{
    color: whitesmoke;
    margin-left: 30px;
}
.menu li{
    position: relative;
    font-style: normal;
    display: inline-block;
    color: whitesmoke;
    margin-left: 15px;
}
.content-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
    height: 40px;
}
.content-right{
    position: relative;
    font-style: normal;
    display: flex;
    color: burlywood;
    align-items: center;
    margin-left: 5px;


}
.page-wrapper{
    position: relative;
}
.page-wrapper-background{
    background-image: url(curly_hair_white-1.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    position: relative;

}
.backdrop{
    position: absolute;
    width: 100%;
    height: 100%;
}
.content-header-page-wrapper{
    display: flex;
    height: 90px;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
    

}
.fas fa-bars{
    position: absolute;
}

.bars{
    font-size: 30px;
}
.header-left{
    display: flex;
    text-align: left;
    justify-content: flex-start;
    flex: 1;
}
.primary-menu{
    display: flex;
    align-items: center;
}
li{
    margin-left: 20px;
    
}
.active{
    border-bottom: aquamarine 3px solid;
}
.header-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    

}
.header-middle-logo{
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    flex: initial;
}
.header-right-icons{
    display: flex;
}
.header-right{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    
}
.icon-header-right{
    color: black;
    margin-left: 40px;
}
.content-main{
    margin-top: 150px;
    margin-right: 200px; 
    float: right;
    text-align: end;
    
}
.content-main-season{
   font-size: 15px;
   background-color: black;
   color: white;
   margin-bottom: 30px;
}
.content-main-fasshion{
    color: black;
    font-size: 60px;
    margin-bottom: 15px;
    font-style: oblique;

}
.content-main-shop{
    color: black;
    font-size: 15px;
    font-style: normal;
}
.main{
    padding-top: 0;
}
.button-up-shirt{
    background-image: url(banner-shirt2-768x976.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;
}